PandoraMVAData/
PandoraMVAs/
PandoraNetworkData/
*~
scripts/__pycache__/

// By default ignore weights files
*xml
*pkl

// Ignore numpy files (images for vertex training)
*.npz

// Ignore images
*.pdf

// Jupyter Notebooks
docs/
.ipynb_checkpoints/
*.ipynb_checkpoints/

*.DS_Store

scripts/deep_learning/vertex/TEST_DONT_SAVE.ipynb
*/*/__pycache__
*/*/*/__pycache__
*/**/*/__pycache__